.teacherD {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	background-color: #fff;
  	overflow: hidden;
  	text-align: left;
  	font-size: 10px;
  	color: #666;
  	font-family: Inter;
}
.weekdayDateParent {
  	position: absolute;
  	top: 68px;
  	left: 79px;
  	background-color: #f9fafc;
  	width: 1366px;
  	height: 807px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.weekdayDate {
  	position: absolute;
  	top: -10px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	background-color: #fff;
  	width: 1379px;
  	height: 835px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.weekdayHeaders {
  	position: absolute;
  	top: 309px;
  	left: 0px;
  	background-color: rgba(255, 255, 255, 0);
  	width: 1339px;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	font-size: 14px;
}
.text {
  	position: absolute;
  	top: 15px;
  	left: 282px;
  	font-weight: 600;
}
.text2 {
  	position: absolute;
  	top: 10px;
  	left: 541px;
  	font-weight: 600;
}
.text3 {
  	position: absolute;
  	top: 12px;
  	left: 810px;
  	font-weight: 600;
}
.text4 {
  	position: absolute;
  	top: 11px;
  	left: 1089px;
  	font-weight: 600;
}
.magerobotFill {
  	position: absolute;
  	top: 7px;
  	left: 51px;
  	width: 24px;
  	height: 24px;
  	overflow: hidden;
}
.weekdayDateChild {
  	position: absolute;
  	top: 355px;
  	left: 40px;
  	border-radius: 17px;
  	background-color: #f2f2f7;
  	width: 1272px;
  	height: 462px;
  	opacity: 0.3;
  	flex-shrink: 0;
}
.weekdayDateItem {
  	position: absolute;
  	top: 541.5px;
  	left: 38.5px;
  	border-top: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1274px;
  	height: 1px;
  	flex-shrink: 0;
}
.weekdayDateInner {
  	position: absolute;
  	top: 640.5px;
  	left: 38.5px;
  	border-top: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1274px;
  	height: 1px;
  	flex-shrink: 0;
}
.lineDiv {
  	position: absolute;
  	top: 739.5px;
  	left: 38.5px;
  	border-top: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1274px;
  	height: 1px;
  	flex-shrink: 0;
}
.rectangleParent {
  	position: absolute;
  	top: 401px;
  	left: 64px;
  	width: 80px;
  	height: 386px;
  	flex-shrink: 0;
  	font-size: 15px;
}
.groupChild {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 9px;
  	background-color: #fff;
  	width: 66px;
  	height: 23px;
}
.groupItem {
  	position: absolute;
  	top: 90px;
  	left: 3px;
  	border-radius: 9px;
  	background-color: #fff;
  	width: 66px;
  	height: 23px;
}
.groupInner {
  	position: absolute;
  	top: 185px;
  	left: 3px;
  	border-radius: 9px;
  	background-color: #fff;
  	width: 66px;
  	height: 23px;
}
.rectangleDiv {
  	position: absolute;
  	top: 278px;
  	left: 3px;
  	border-radius: 9px;
  	background-color: #fff;
  	width: 66px;
  	height: 23px;
}
.groupChild2 {
  	position: absolute;
  	top: 363px;
  	left: 3px;
  	border-radius: 9px;
  	background-color: #fff;
  	width: 66px;
  	height: 23px;
}
.text5 {
  	position: absolute;
  	top: 2px;
  	left: 7px;
  	font-weight: 600;
  	display: inline-block;
  	width: 73px;
  	height: 22px;
}
.text6 {
  	position: absolute;
  	top: 91.83px;
  	left: 7.01px;
  	font-weight: 600;
  	display: inline-block;
  	width: 73px;
  	height: 7px;
}
.text7 {
  	position: absolute;
  	top: 186.83px;
  	left: 7.01px;
  	font-weight: 600;
  	display: inline-block;
  	width: 73px;
  	height: 7px;
}
.text8 {
  	position: absolute;
  	top: 280.83px;
  	left: 7.01px;
  	font-weight: 600;
  	display: inline-block;
  	width: 73px;
  	height: 7px;
}
.text9 {
  	position: absolute;
  	top: 364.83px;
  	left: 7.01px;
  	font-weight: 600;
  	display: inline-block;
  	width: 73px;
  	height: 7px;
}
.text10 {
  	position: absolute;
  	top: 374px;
  	left: 247px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text11 {
  	position: absolute;
  	top: 373px;
  	left: 511px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text12 {
  	position: absolute;
  	top: 108px;
  	left: 450px;
  	font-weight: 600;
  	display: inline-block;
  	width: 72px;
  	height: 16px;
  	flex-shrink: 0;
}
.text13 {
  	position: absolute;
  	top: 152px;
  	left: 619px;
  	font-weight: 600;
  	display: inline-block;
  	width: 72px;
  	height: 16px;
  	flex-shrink: 0;
}
.text14 {
  	position: absolute;
  	top: 152px;
  	left: 787px;
  	font-weight: 600;
  	display: inline-block;
  	width: 96px;
  	height: 16px;
  	flex-shrink: 0;
}
.text15 {
  	position: absolute;
  	top: 152px;
  	left: 216px;
  	font-weight: 600;
  	display: inline-block;
  	width: 72px;
  	height: 16px;
  	flex-shrink: 0;
}
.text16 {
  	position: absolute;
  	top: 152px;
  	left: 388px;
  	font-weight: 600;
  	display: inline-block;
  	width: 72px;
  	height: 16px;
  	flex-shrink: 0;
}
.text17 {
  	position: absolute;
  	top: 152px;
  	left: 713px;
  	font-weight: 600;
  	display: inline-block;
  	width: 25px;
  	height: 16px;
  	flex-shrink: 0;
}
.text18 {
  	position: absolute;
  	top: 152px;
  	left: 905px;
  	font-weight: 600;
  	display: inline-block;
  	width: 143px;
  	height: 16px;
  	flex-shrink: 0;
}
.text19 {
  	position: absolute;
  	top: 152px;
  	left: 276px;
  	font-weight: 600;
  	display: inline-block;
  	width: 41px;
  	height: 16px;
  	flex-shrink: 0;
}
.text20 {
  	position: absolute;
  	top: 153px;
  	left: 469px;
  	font-weight: 600;
  	display: inline-block;
  	width: 77px;
  	height: 16px;
  	flex-shrink: 0;
}
.text21 {
  	position: absolute;
  	top: 54px;
  	left: 220px;
  	font-weight: 600;
  	display: inline-block;
  	width: 72px;
  	height: 16px;
  	flex-shrink: 0;
}
.text22 {
  	position: absolute;
  	top: 370px;
  	left: 775px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text23 {
  	position: absolute;
  	top: 369px;
  	left: 1053px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text24 {
  	position: absolute;
  	top: 468px;
  	left: 247px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text25 {
  	position: absolute;
  	top: 464px;
  	left: 511px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text26 {
  	position: absolute;
  	top: 464px;
  	left: 775px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text27 {
  	position: absolute;
  	top: 464px;
  	left: 1053px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text28 {
  	position: absolute;
  	top: 556px;
  	left: 247px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text29 {
  	position: absolute;
  	top: 556px;
  	left: 511px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text30 {
  	position: absolute;
  	top: 555px;
  	left: 775px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text31 {
  	position: absolute;
  	top: 556px;
  	left: 1053px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text32 {
  	position: absolute;
  	top: 653px;
  	left: 247px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text33 {
  	position: absolute;
  	top: 653px;
  	left: 511px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text34 {
  	position: absolute;
  	top: 651px;
  	left: 775px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text35 {
  	position: absolute;
  	top: 651px;
  	left: 1053px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text36 {
  	position: absolute;
  	top: 751px;
  	left: 247px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text37 {
  	position: absolute;
  	top: 751px;
  	left: 511px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text38 {
  	position: absolute;
  	top: 746px;
  	left: 775px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.text39 {
  	position: absolute;
  	top: 746px;
  	left: 1053px;
  	font-weight: 600;
  	display: inline-block;
  	width: 173px;
  	height: 71px;
  	flex-shrink: 0;
}
.header {
  	position: absolute;
  	top: 54px;
  	left: 188px;
  	background-color: rgba(255, 255, 255, 0);
  	width: 1352px;
  	height: 80px;
  	overflow: hidden;
  	flex-shrink: 0;
  	font-size: 26px;
  	color: #b061ce;
  	font-family: Montserrat;
}
.text40 {
  	position: absolute;
  	top: 24px;
  	left: 32px;
  	line-height: 26px;
}
.mdiLightlogin {
  	position: absolute;
  	top: 33px;
  	left: 1122px;
  	width: 24px;
  	height: 24px;
  	overflow: hidden;
}
.antDesignloginOutlined {
  	position: absolute;
  	top: 4px;
  	left: 4px;
  	width: 16px;
  	height: 16px;
  	overflow: hidden;
}
.tdesignnotificationCircleFiIcon {
  	position: absolute;
  	top: 21px;
  	left: 826px;
  	width: 35px;
  	height: 35px;
}
.icoutlineEmailIcon {
  	position: absolute;
  	top: 23px;
  	left: 896px;
  	width: 32px;
  	height: 32px;
}
.riloginCircleFill {
  	position: absolute;
  	top: 12px;
  	left: 1px;
  	width: 24px;
  	height: 24px;
  	overflow: hidden;
}
.riloginCircleLineIcon {
  	position: absolute;
  	top: 28px;
  	left: 1122px;
  	width: 29px;
  	height: 29px;
}
.uilsettingIcon {
  	position: absolute;
  	top: 23px;
  	left: 953px;
  	width: 32px;
  	height: 32px;
}
.sidebarSearchField {
  	position: absolute;
  	top: 43px;
  	left: 606px;
  	border-radius: 100px;
  	width: 195px;
  	height: 1px;
  	display: flex;
  	align-items: center;
}
.weekdayDateChild2 {
  	position: absolute;
  	top: 458.5px;
  	left: 38.5px;
  	border-top: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1274px;
  	height: 1px;
  	flex-shrink: 0;
}
.weekdayDateChild3 {
  	position: absolute;
  	top: 174.5px;
  	left: 20.5px;
  	border-top: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1340px;
  	height: 1px;
  	flex-shrink: 0;
}
.image1Icon {
  	position: absolute;
  	top: 33px;
  	left: 44px;
  	width: 101px;
  	height: 101px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image2Icon {
  	position: absolute;
  	top: 64px;
  	left: 1248px;
  	width: 45px;
  	height: 45px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.weekdayDateChild4 {
  	position: absolute;
  	top: 394.5px;
  	left: 170.5px;
  	border-right: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1px;
  	height: 45px;
  	flex-shrink: 0;
}
.weekdayDateChild5 {
  	position: absolute;
  	top: 155.5px;
  	left: 262.5px;
  	border-right: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1px;
  	height: 10px;
  	flex-shrink: 0;
}
.weekdayDateChild6 {
  	position: absolute;
  	top: 155.5px;
  	left: 459.5px;
  	border-right: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1px;
  	height: 10px;
  	flex-shrink: 0;
}
.weekdayDateChild7 {
  	position: absolute;
  	top: 153.5px;
  	left: 697.5px;
  	border-right: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1px;
  	height: 10px;
  	flex-shrink: 0;
}
.weekdayDateChild8 {
  	position: absolute;
  	top: 153.5px;
  	left: 889.5px;
  	border-right: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1px;
  	height: 10px;
  	flex-shrink: 0;
}
.weekdayDateChild9 {
  	position: absolute;
  	top: 484.5px;
  	left: 170.5px;
  	border-right: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1px;
  	height: 45px;
  	flex-shrink: 0;
}
.weekdayDateChild10 {
  	position: absolute;
  	top: 574.5px;
  	left: 170.5px;
  	border-right: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1px;
  	height: 45px;
  	flex-shrink: 0;
}
.weekdayDateChild11 {
  	position: absolute;
  	top: 664.5px;
  	left: 170.5px;
  	border-right: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1px;
  	height: 45px;
  	flex-shrink: 0;
}
.weekdayDateChild12 {
  	position: absolute;
  	top: 754.5px;
  	left: 170.5px;
  	border-right: 1px solid #d2d2d2;
  	box-sizing: border-box;
  	width: 1px;
  	height: 45px;
  	flex-shrink: 0;
}
.mingcutedashboardLine {
  	position: absolute;
  	top: 73px;
  	left: 0px;
  	width: 29px;
  	height: 29px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.weekdayName {
  	position: absolute;
  	top: 275px;
  	left: 3px;
  	background-color: rgba(255, 255, 255, 0);
  	width: 1339px;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	font-size: 14px;
}
.text41 {
  	position: absolute;
  	top: 15px;
  	left: 280px;
  	font-weight: 600;
  	display: inline-block;
  	width: 70px;
  	height: 23px;
}
.text42 {
  	position: absolute;
  	top: 10px;
  	left: 536px;
  	font-weight: 600;
  	display: inline-block;
  	width: 73px;
  	height: 23px;
}
.text43 {
  	position: absolute;
  	top: 12px;
  	left: 799px;
  	font-weight: 600;
  	display: inline-block;
  	width: 101px;
  	height: 23px;
}
.text44 {
  	position: absolute;
  	top: 11px;
  	left: 1083px;
  	font-weight: 600;
  	display: inline-block;
  	width: 82px;
  	height: 23px;
}
.header2 {
  	position: absolute;
  	top: 179px;
  	left: 0px;
  	background-color: #fff;
  	width: 1352px;
  	height: 80px;
  	overflow: hidden;
  	flex-shrink: 0;
  	font-size: 26px;
  	color: #000;
  	font-family: Montserrat;
}
.textParent {
  	position: absolute;
  	top: 25px;
  	left: 1099px;
  	width: 224px;
  	height: 30px;
  	font-size: 14px;
  	color: #666;
  	font-family: Inter;
}
.text46 {
  	position: absolute;
  	top: 6px;
  	left: 0px;
  	font-weight: 600;
  	display: inline-block;
  	width: 96px;
  	height: 14px;
}
.calendarMonthField {
  	position: absolute;
  	top: 0px;
  	left: 102px;
  	width: 122px;
  	height: 30px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	font-size: 16px;
  	color: #1e1e1e;
}
.select {
  	align-self: stretch;
  	border-radius: 8px;
  	background-color: #fff;
  	border: 1px solid #d9d9d9;
  	display: flex;
  	align-items: center;
  	padding: 6px;
  	gap: 8px;
}
.september {
  	flex: 1;
  	position: relative;
  	line-height: 100%;
}
.chevronDownIcon {
  	height: 16px;
  	width: 16px;
  	position: relative;
}
.teacherDChild {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #b061ce;
  	width: 79px;
  	height: 1024px;
  	flex-shrink: 0;
}
.weuiarrowFilledIcon {
  	position: absolute;
  	top: 32px;
  	left: 18px;
  	width: 18px;
  	height: 36px;
  	flex-shrink: 0;
}
.flowbitelockSolidIcon {
  	position: absolute;
  	top: 974px;
  	left: 19px;
  	width: 24px;
  	height: 24px;
  	flex-shrink: 0;
}
.vectorIcon {
  	position: absolute;
  	height: 1.57%;
  	width: 1.46%;
  	top: 39.75%;
  	right: 97.08%;
  	bottom: 58.68%;
  	left: 1.46%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	flex-shrink: 0;
}
.raphaelpeopleIcon {
  	position: absolute;
  	top: 185px;
  	left: 17px;
  	width: 29px;
  	height: 29px;
  	flex-shrink: 0;
}
.groupIcon {
  	position: absolute;
  	height: 2.58%;
  	width: 1.68%;
  	top: 13.03%;
  	right: 97%;
  	bottom: 84.39%;
  	left: 1.32%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	flex-shrink: 0;
}
.teenyiconsschoolOutline {
  	position: absolute;
  	top: 245px;
  	left: 17px;
  	width: 29px;
  	height: 29px;
  	flex-shrink: 0;
}
.iconParkOutlinedataUser {
  	position: absolute;
  	top: 297px;
  	left: 19px;
  	width: 24px;
  	height: 24px;
  	flex-shrink: 0;
}
.carboninventoryManagementIcon {
  	position: absolute;
  	top: 355px;
  	left: 19px;
  	width: 25px;
  	height: 25px;
  	flex-shrink: 0;
}

